@import "./normalize.css";

/* 通用常量 */
:root {
  --screen-width: 100%; /* 屏幕宽度 */
  --min-width: 100rem /* 1600/16 */; /* 最小屏幕宽度 */
  --screen-height: 50rem /* 800/16 */; /* 屏幕高度 */
  --paper-height: 52.25rem /* 836/16 */; /* A4纸张高度 */
  --paper-height-half: 26.125rem /* 418/16 */; /* A4纸张一半高度 */
  --paper-width: 36.875rem /* 590/16 */; /* A4纸张宽度 */
  --theme-color: #308bcc; /* 设定主题色 */
  --text-color: #9a9a9a; /* 文本主题色 */
  --div-bottom: 6.25rem /* 100/16 */; /* 默认底部边距 */
  --small-text: 1.125rem /* 18/16 */; /* 较小文本 */
  --normal-text: 1.25rem /* 20/16 */; /* 常规文本font-size */
  --big-text: 2.375rem /* 38/16 */; /* 较大文本font-size */
}

body {
  padding: 0;
  margin: 0;
}

/* 常用的几种字体样式 */
.title {
  font-size: var(--normal-text);
  color: var(--theme-color);
  font-weight: bold;
}

.content {
  font-size: var(--normal-text);
  color: var(--text-color);
  font-weight: bold;
}

.content-blue {
  font-size: var(--normal-text);
  color: var(--theme-color);
  font-weight: bold;
}

.smalltext {
  font-size: var(--small-text);
  color: var(--text-color);
  font-weight: bold;
}

.smalltext-blue {
  font-size: var(--small-text);
  color: var(--theme-color);
  font-weight: bold;
}

.bigtext {
  font-size: var(--big-text);
  color: var(--text-color);
  font-weight: bold;
}

.bigtext-blue {
  font-size: var(--big-text);
  color: var(--theme-color);
  font-weight: bold;
}

.rcorner {
  border-radius: 1.5625rem /* 25/16 */;
  box-shadow: .0625rem /* 1/16 */ .0625rem /* 1/16 */ .0625rem /* 1/16 */ .0625rem /* 1/16 */ rgba(0, 0, 0, 0.4);
}
