@import "./normalize.css";

/* 通用常量 */
:root {
  --screen-width: 1900px;
  --screen-height: 800px;
  --paper-height: 836px;
  --paper-height-half: 418px;
  --paper-width: 590px;
  --theme-color: #308bcc;
  --text-color: #9a9a9a;
  --div-bottom: 100px;
  --big-text: 38px;
}

body{
  padding: 0;
  margin: 0;
}

/* 常用的几种字体样式 */
.title{
  font-size: 28px;
  color: var(--theme-color);
  font-weight: bold;
}

.content{
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}

.content-blue{
  color: var(--theme-color);
  font-size: 20px;
  font-weight: bold;
}

.smalltext{
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
}

.smalltext-blue{
  color: var(--theme-color);
  font-size: 18px;
  font-weight: bold;
}

.bigtext{
  color: var(--text-color);
  font-size: var(--big-text);
  font-weight: bold;
}

.bigtext-blue{
  color: var(--theme-color);
  font-size: var(--big-text);
  font-weight: bold;
}