@import "./normalize.css";

/* 通用常量 */
:root {
  /* --screen-width: 1900px; 屏幕宽度 */
  --screen-width: 100%; /* 屏幕宽度 */
  --min-width: 1600px; /* 最小屏幕宽度 */
  --screen-height: 800px; /* 屏幕高度 */
  --paper-height: 836px; /* A4纸张高度 */
  --paper-height-half: 418px; /* A4纸张一半高度 */
  --paper-width: 590px; /* A4纸张宽度 */
  --theme-color: #308bcc; /* 设定主题色 */
  --text-color: #9a9a9a; /* 文本主题色 */
  --div-bottom: 100px; /* 默认底部边距 */
  --small-text: 18px; /* 较小文本 */
  --normal-text: 20px; /* 常规文本font-size */
  --big-text: 38px; /* 较大文本font-size */
}

body {
  padding: 0;
  margin: 0;
}

/* 常用的几种字体样式 */
.title {
  font-size: var(--normal-text);
  color: var(--theme-color);
  font-weight: bold;
}

.content {
  font-size: var(--normal-text);
  color: var(--text-color);
  font-weight: bold;
}

.content-blue {
  font-size: var(--normal-text);
  color: var(--theme-color);
  font-weight: bold;
}

.smalltext {
  font-size: var(--small-text);
  color: var(--text-color);
  font-weight: bold;
}

.smalltext-blue {
  font-size: var(--small-text);
  color: var(--theme-color);
  font-weight: bold;
}

.bigtext {
  font-size: var(--big-text);
  color: var(--text-color);
  font-weight: bold;
}

.bigtext-blue {
  font-size: var(--big-text);
  color: var(--theme-color);
  font-weight: bold;
}

.rcorner {
  border-radius: 25px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
